*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
nav{
    .menu__wrapper{
        position: absolute;
        width:100%;
        top: -280px;
        transition: all .5s cubic-bezier(.6,0,.4,1);
        z-index: 1;
        img{
            display: none;
        }
        ul{
        background-color: rgba(0,0,0,.7);
        li{
            list-style: none;
            &:not(:last-child){
                border-bottom: 1px solid white;
            }
            a{
                display: block;
                height: 55px;
                color: white;
                font-size: .7em;
                line-height: 55px;
                padding-left: 7%;
                text-decoration: none;
            }
        }
        }
        .menuBar__wrapper{
        display: flex;
        position: relative;
        height: 45px;
        justify-content: space-between;
        background-color: white;
        .menu__letter{
            display: inline-block;
            font-size: .7em;
            line-height: 45px;
            padding-left: 50px;
        }
        .burger{
            position: absolute;
            width: 15px;
            top: 22px;
            right: 48px;
            border-top: 1px solid black;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                top: -5px;
                border-top: 1px solid black;
            }
            &::after{
                content: "";
                position: absolute;
                width: 15px;
                top: 3px;
                border-top: 1px solid black;
            }
        }
        }
    }
}
.widescreen{
    display: none !important;
}
.top0{
    top: 0 !important;
}
.one__top{
    overflow-x: hidden;
    .top{
        position: relative;
        height: calc(100vh + 20px);
        .img{
            display: flex;
            height: calc(100vh + 20px);
            width: 100vw;
            align-items: center;
            justify-content: center;
            background-position: center center;
            background-size: cover;
        }
        .logo{
            position: absolute;
            width: 150px;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(/practice1/material/logo_sample3.png);
            background-position: 50% -5%;
            background-repeat: no-repeat;
            background-size: 170px;

        }
        .logo2{
            position: absolute;
            height: 70px;
            width: 175px;
            top: 51%;
            left: 50%;
            transform: translateX(-50%);
        //     background-color: transparent;
        //     background-image: url(/practice1/material/siteLogo-small@2x.png);
        //     background-position-y: -130px;
        //     background-repeat: no-repeat;
        //     background-size: 100%;
            span{
                position: absolute;
                bottom: 4px;
                left: 18px;
                color: white;
                font-size: 10px;
                letter-spacing: .2em;
            }
        }
        .arrow__down{
            position: absolute;
            bottom: 70px;
            left: 50%;
            width: 15px;
            height: 15px;
            border-bottom: 2px solid white;
            border-left: 2px solid white;
            transform: rotate(-45deg) translateX(-50%);
        }
        img{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}
.two__about{
    padding: 70px 8% 80px 8%;
    background-color: #f6f6f6;
    &__headline{
        h1{
            font-size: 2em;
            font-weight: 400;
            letter-spacing: 5px;
            line-height: 2;
        }
    }
    p{
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 1.7;
        white-space: pre-wrap;
        &:not(:last-child){
            margin-top: 20px;
        }
    }
    img{
        width: 160px;
        margin: 2em 0;
    }
}
.three__product{
    background-color: white;
    padding: 70px 8%;
    letter-spacing: .1em;
    .product__book__wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        a{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            color: black;
            text-decoration: none;
            transition: all .3s ease;
            img{
                max-width: 100%;
            }
            p{
                font-size: 1.2em;
                font-weight: 500;
                padding: 25px 0 20px 25px;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
}
.headline{
    display: flex;
    justify-content: center;
    h2{
        height: 50px;
        font-size: 1.7em;
        font-weight: 400;
        letter-spacing: .1em;
        background-image: url(/practice1/material/sectionTitle-underLine@2x.png);
        background-repeat: no-repeat;
        background-size: 68px;
        background-position-y: 100%;
    }
}
.more__btn{
    display: inline-block;
    position: relative;
    width: 162px;
    height: 46px;
    border: 1px solid #13191b;
    color: #13191b;
    font-size: .8em;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    &::after{
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        top: 50%;
        right: 15px;
        border-bottom: 1px solid #13101b;
        border-right: 1px solid #13101b;
        transform: rotate(-45deg) translateY(-50%);
        transition: all .3s ease;
    }
    &:hover{
        color: white;
        background-color: #13191b;
    }
    &:hover::after{
        border-bottom-color: white;
        border-right-color: white;
    }
}
.bottom__btn{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.four__news{
    position: relative;
    letter-spacing: .1em;
    padding: 70px 8%;
    background-color: #f6f6f6;
    .news__link__wrapper{
        display: flex;
        flex-direction: column;
        a{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            text-decoration: none;
            transition: all .3s ease;
            .news__link__img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .news__link__info{
                .news__link__headline{
                    color: black;
                    font-weight: 500;
                    font-size: 1.3em;
                }
                .date{
                    color: #656c6e;
                    font-size: .7em;
                    margin-top: 5px;
                }
                .article{
                    color: #656c6e;
                    font-size: .8em;
                    margin-top: 30px;
                }
            }
            &:hover{
                opacity: .7;
            }
        }
    }
    .backToTop{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        bottom: -25px;
        border-radius: 50%;
        transform: translateX(-50%);
        transition: all .2s ease-out;
        background-color: white;
        &::after{
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            top: 30%;
            border-top: 1px solid black;
            border-left: 1px solid black;
            transform: translateX(-50%) rotate(45deg);
        }
        &:hover{
            bottom: -20px;
            cursor: pointer;
        }
    }
}
.five__sns{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    letter-spacing: .1em;
    padding: 40px 5%;
    row-gap: 10px;
    a{
        display: inline-block;
        height: 46px;
        font-size: .7em;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
    }
    .facebook{
        border: 1px solid #3b5998;
        color: #3b5998;
        transition: all .3s ease;
        &:hover{
            color: white;
            background-color: #3b5998;
        }
    }
    .twitter{
        color: #1da1f2;
        border: 1px solid #1da1f2;
        transition: all .3s ease;
        &:hover{
            color: white;
            background-color: #1da1f2;
        }
    }
    .hatena{
        color: #00a4de;
        border: 1px solid #00a4de;
        transition: all .3s ease;
        &:hover{
            color: white;
            background-color: #00a4de;
        }
    }
    .line{
        color: #8ec09d;
        border: 1px solid #8ec09d;
        transition: all .3s ease;
        &:hover{
            color: white;
            background-color: #8ec09d;
        }
    }

}
.six__menu{
    display: flex;
    flex-direction: column;
    background-color: #939899;
    a{
        position: relative;
        color: white;
        font-size: .85em;
        line-height: 54px;
        text-align: center;
        text-decoration: none;
        transition: all .3s ease;
        &:hover{
            opacity: .7;
        }
    }
    hr{
        color: #fff;
    }
}
footer{
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 30px 0;
    background-color: #656c6e;
    img{
        height: 89px;
        transition: all .3s ease;
        &:hover{
            opacity: .7;
        }
    }
    p{
        font-size: .55em;
        padding-top: 10px;
        span{
            display: inline-block;
            font-size: 1.6em;
            transform: translateY(10%);
        }
    }
}
@media (min-width: 500px){
    nav{
        .menu__wrapper{
            top: -279px;
        }
    }
    .smallscreen{
        display: none !important;
    }
    .widescreen{
        display: block !important;
    }
    .two__about{
        &__headline{
            h1{
                font-size: 45px;
            }
        }
        p{
            font-size: 1.3em;
        }
        img{
            width: 211px;
        }
    }
    .three__product{
    background-color: white;
    padding: 70px 8%;
    letter-spacing: .1em;
    .product__book__wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        a{
            display: flex;
            color: black;
            flex-direction: row;
            margin-top: 50px;
            text-decoration: none;
            transition: all .3s ease;
            img{
                width: 30%;
                flex-shrink: 0;
            }
            p{

                font-size: 1.2em;
                font-weight: 600;
                padding: 25px 0 0 25px;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
    }
    .headline{
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 1.6em;
            font-weight: 100;    
        }
    }
    .four__news{
        .news__link__wrapper{
            a{
                flex-direction: row;
                margin-top: 60px;
                .news__link__img{
                    width: 40%;
                    flex-shrink: 0;
                    padding-right: 30px;
                }
                .news__link__info{
                    width: 60%;
                    .news__link__headline{
                        font-weight: 600;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
    .five__sns{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px 0;
        a{
            width: 150px;
        }
    }
    .six__menu{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding: 37px 0;
        a{
            font-size: .9em;
            line-height: 1;
            &:not(:last-child){
                margin-right: 42px;
            }
        }
    }
    footer{
        height: 158px;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 10%;
        p{
            padding: 0;
        }
    }
}
@media (min-width: 900px){
    nav{
        .menu__wrapper{
            display: flex;
            top: 0px;
            align-items: center;
            justify-content: space-between;
            padding: 50px 7% 0 7%;
            img{
                display: block;
                height: 71px;
            }
            ul{
                display: flex;
                background-color: unset;
                li{
                    &:not(:last-child){
                        border-bottom: unset;
                    }
                    a{
                        position: relative;
                        height: 35px;
                        font-size: .8em;
                        margin-left: 43px;
                        padding-left: 0;
                        letter-spacing: .1em;
                        line-height: 35px;
                        transition: all .3s ease;
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            transition: all .2s ease;
                        }
                        &:hover::after{
                            background-color: white;
                        }
                    }
                }
            }
            .menuBar__wrapper{
                display: none;
            }
        }
    }
    .one__top{
        overflow-y: hidden;
        .top{
            height: calc(100vh - 30px);
            .logo, .logo2{
                display: none;
            }
            .arrow__down{
                bottom: 70px;
            }
        }
    }
    .two__about{
        display: flex;
        align-items: center;
        flex-direction: column;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .three__product{
        padding-top: 110px;
        padding-bottom: 60px;
        .product__book__wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 770px;
            column-gap: 40px;
            margin: 60px auto;
            row-gap: 70px;
            a{
                flex-direction: column;
                max-width: 250px;
                margin-top: 0;
                img{
                    min-width: 100%;
                }
            }
        }
    }
}
