* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

nav .menu__wrapper {
  position: absolute;
  width: 100%;
  top: -280px;
  -webkit-transition: all 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  z-index: 1;
}

nav .menu__wrapper img {
  display: none;
}

nav .menu__wrapper ul {
  background-color: rgba(0, 0, 0, 0.7);
}

nav .menu__wrapper ul li {
  list-style: none;
}

nav .menu__wrapper ul li:not(:last-child) {
  border-bottom: 1px solid white;
}

nav .menu__wrapper ul li a {
  display: block;
  height: 55px;
  color: white;
  font-size: .7em;
  line-height: 55px;
  padding-left: 7%;
  text-decoration: none;
}

nav .menu__wrapper .menuBar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

nav .menu__wrapper .menuBar__wrapper .menu__letter {
  display: inline-block;
  font-size: .7em;
  line-height: 45px;
  padding-left: 50px;
}

nav .menu__wrapper .menuBar__wrapper .burger {
  position: absolute;
  width: 15px;
  top: 22px;
  right: 48px;
  border-top: 1px solid black;
}

nav .menu__wrapper .menuBar__wrapper .burger::before {
  content: "";
  position: absolute;
  width: 15px;
  top: -5px;
  border-top: 1px solid black;
}

nav .menu__wrapper .menuBar__wrapper .burger::after {
  content: "";
  position: absolute;
  width: 15px;
  top: 3px;
  border-top: 1px solid black;
}

.widescreen {
  display: none !important;
}

.top0 {
  top: 0 !important;
}

.one__top {
  overflow-x: hidden;
}

.one__top .top {
  position: relative;
  height: calc(100vh + 20px);
}

.one__top .top .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh + 20px);
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center center;
  background-size: cover;
}

.one__top .top .logo {
  position: absolute;
  width: 150px;
  top: 58%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(/practice1/material/logo_sample3.png);
  background-position: 50% -5%;
  background-repeat: no-repeat;
  background-size: 170px;
}

.one__top .top .logo2 {
  position: absolute;
  height: 70px;
  width: 175px;
  top: 51%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.one__top .top .logo2 span {
  position: absolute;
  bottom: 4px;
  left: 18px;
  color: white;
  font-size: 10px;
  letter-spacing: .2em;
}

.one__top .top .arrow__down {
  position: absolute;
  bottom: 70px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}

.one__top .top img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.two__about {
  padding: 70px 8% 80px 8%;
  background-color: #f6f6f6;
}

.two__about__headline h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 2;
}

.two__about p {
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 1.7;
  white-space: pre-wrap;
}

.two__about p:not(:last-child) {
  margin-top: 20px;
}

.two__about img {
  width: 160px;
  margin: 2em 0;
}

.three__product {
  background-color: white;
  padding: 70px 8%;
  letter-spacing: .1em;
}

.three__product .product__book__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three__product .product__book__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.three__product .product__book__wrapper a img {
  max-width: 100%;
}

.three__product .product__book__wrapper a p {
  font-size: 1.2em;
  font-weight: 500;
  padding: 25px 0 20px 25px;
}

.three__product .product__book__wrapper a:hover {
  opacity: .7;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline h2 {
  height: 50px;
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: .1em;
  background-image: url(/practice1/material/sectionTitle-underLine@2x.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position-y: 100%;
}

.more__btn {
  display: inline-block;
  position: relative;
  width: 162px;
  height: 46px;
  border: 1px solid #13191b;
  color: #13191b;
  font-size: .8em;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.more__btn::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 50%;
  right: 15px;
  border-bottom: 1px solid #13101b;
  border-right: 1px solid #13101b;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.more__btn:hover {
  color: white;
  background-color: #13191b;
}

.more__btn:hover::after {
  border-bottom-color: white;
  border-right-color: white;
}

.bottom__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.four__news {
  position: relative;
  letter-spacing: .1em;
  padding: 70px 8%;
  background-color: #f6f6f6;
}

.four__news .news__link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.four__news .news__link__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.four__news .news__link__wrapper a .news__link__img {
  width: 100%;
}

.four__news .news__link__wrapper a .news__link__img img {
  width: 100%;
}

.four__news .news__link__wrapper a .news__link__info .news__link__headline {
  color: black;
  font-weight: 500;
  font-size: 1.3em;
}

.four__news .news__link__wrapper a .news__link__info .date {
  color: #656c6e;
  font-size: .7em;
  margin-top: 5px;
}

.four__news .news__link__wrapper a .news__link__info .article {
  color: #656c6e;
  font-size: .8em;
  margin-top: 30px;
}

.four__news .news__link__wrapper a:hover {
  opacity: .7;
}

.four__news .backToTop {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: -25px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: white;
}

.four__news .backToTop::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 30%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.four__news .backToTop:hover {
  bottom: -20px;
  cursor: pointer;
}

.five__sns {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  letter-spacing: .1em;
  padding: 40px 5%;
  row-gap: 10px;
}

.five__sns a {
  display: inline-block;
  height: 46px;
  font-size: .7em;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
}

.five__sns .facebook {
  border: 1px solid #3b5998;
  color: #3b5998;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.five__sns .facebook:hover {
  color: white;
  background-color: #3b5998;
}

.five__sns .twitter {
  color: #1da1f2;
  border: 1px solid #1da1f2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.five__sns .twitter:hover {
  color: white;
  background-color: #1da1f2;
}

.five__sns .hatena {
  color: #00a4de;
  border: 1px solid #00a4de;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.five__sns .hatena:hover {
  color: white;
  background-color: #00a4de;
}

.five__sns .line {
  color: #8ec09d;
  border: 1px solid #8ec09d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.five__sns .line:hover {
  color: white;
  background-color: #8ec09d;
}

.six__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #939899;
}

.six__menu a {
  position: relative;
  color: white;
  font-size: .85em;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.six__menu a:hover {
  opacity: .7;
}

.six__menu hr {
  color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
  padding: 30px 0;
  background-color: #656c6e;
}

footer img {
  height: 89px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer img:hover {
  opacity: .7;
}

footer p {
  font-size: .55em;
  padding-top: 10px;
}

footer p span {
  display: inline-block;
  font-size: 1.6em;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

@media (min-width: 500px) {
  nav .menu__wrapper {
    top: -279px;
  }
  .smallscreen {
    display: none !important;
  }
  .widescreen {
    display: block !important;
  }
  .two__about__headline h1 {
    font-size: 45px;
  }
  .two__about p {
    font-size: 1.3em;
  }
  .two__about img {
    width: 211px;
  }
  .three__product {
    background-color: white;
    padding: 70px 8%;
    letter-spacing: .1em;
  }
  .three__product .product__book__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .three__product .product__book__wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .three__product .product__book__wrapper a img {
    width: 30%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .three__product .product__book__wrapper a p {
    font-size: 1.2em;
    font-weight: 600;
    padding: 25px 0 0 25px;
  }
  .three__product .product__book__wrapper a:hover {
    opacity: .7;
  }
  .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headline h2 {
    font-size: 1.6em;
    font-weight: 100;
  }
  .four__news .news__link__wrapper a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 60px;
  }
  .four__news .news__link__wrapper a .news__link__img {
    width: 40%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 30px;
  }
  .four__news .news__link__wrapper a .news__link__info {
    width: 60%;
  }
  .four__news .news__link__wrapper a .news__link__info .news__link__headline {
    font-weight: 600;
    font-size: 1.1em;
  }
  .five__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 35px 0;
  }
  .five__sns a {
    width: 150px;
  }
  .six__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 37px 0;
  }
  .six__menu a {
    font-size: .9em;
    line-height: 1;
  }
  .six__menu a:not(:last-child) {
    margin-right: 42px;
  }
  footer {
    height: 158px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10%;
  }
  footer p {
    padding: 0;
  }
}

@media (min-width: 900px) {
  nav .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 7% 0 7%;
  }
  nav .menu__wrapper img {
    display: block;
    height: 71px;
  }
  nav .menu__wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: unset;
  }
  nav .menu__wrapper ul li:not(:last-child) {
    border-bottom: unset;
  }
  nav .menu__wrapper ul li a {
    position: relative;
    height: 35px;
    font-size: .8em;
    margin-left: 43px;
    padding-left: 0;
    letter-spacing: .1em;
    line-height: 35px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  nav .menu__wrapper ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  nav .menu__wrapper ul li a:hover::after {
    background-color: white;
  }
  nav .menu__wrapper .menuBar__wrapper {
    display: none;
  }
  .one__top {
    overflow-y: hidden;
  }
  .one__top .top {
    height: calc(100vh - 30px);
  }
  .one__top .top .logo, .one__top .top .logo2 {
    display: none;
  }
  .one__top .top .arrow__down {
    bottom: 70px;
  }
  .two__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .two__about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .three__product {
    padding-top: 110px;
    padding-bottom: 60px;
  }
  .three__product .product__book__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: 770px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    margin: 60px auto;
    row-gap: 70px;
  }
  .three__product .product__book__wrapper a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 250px;
    margin-top: 0;
  }
  .three__product .product__book__wrapper a img {
    min-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
